<div class="container">
  <div class="container__title">
    <h2 class="container__title__title">Editing table of ID: {{ tableId }}</h2>
  </div>
  <div class="container__line"></div>
  <div class="container__table">
    <div class="container__table__add">
      <button class="container__table__add__button" (click)="addRow()">{{ 'Add row' }}</button>
    </div>
    <div class="container__table__full-view">
      <table datatable #edit [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th *ngFor="let heading of headings">{{ heading }}</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dataTable">
            <td *ngFor="let count of headings">{{ row[count] }}</td>
            <td>
              <button class="action-button" (click)="deleteRow(row._id)">Remove</button>
              <button class="action-button" (click)="editRow(row)">Edit</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th *ngFor="let heading of headings">
              <input type="text" placeholder="Search {{ heading }}" />
            </th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="edit-fields" *ngIf="isOpen">
    <collection-editor-frontend-row-edit
      [(isOpen)]="isOpen"
      [fields]="headings"
      [rowDetails]="rowDetails"
      [tableId]="tableId"
      (dtTriggerChange)="getData($event)"
    >
    </collection-editor-frontend-row-edit>
  </div>
</div>
