<div class="container">
  <div class="container__title">
    <h2 class="container__title__title">Editing table of name</h2>
  </div>
  <div class="container__line"></div>
  <div class="container__table">
    <div class="container__table__full-view">
      <table datatable class="row-border hover">
        <!-- <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Collection Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td>{{ row.id }}</td>
            <td>{{ row.title }}</td>
            <td>{{ row.collection_name }}</td>
            <td>
              <button class="action-button">Export</button>
              <button class="action-button">Remove</button>
              <button class="action-button">Edit</button>
            </td>
          </tr>
        </tbody> -->
      </table>
    </div>
  </div>
</div>
