<div class="header">
  <div class="settings-container">
    <button class="more-options-button" (click)="showSettings()">
      <svg-icon src="/assets/images/arrow-down.svg" [applyCss]="true"></svg-icon>
    </button>
  </div>
  <div class="more-settings-view" *ngIf="isOpen">
    <button class="settings-button" (click)="redirectToList()">Home</button>
    <button class="settings-button" (click)="redirectToHistory()">History</button>
    <button class="settings-button" (click)="logout()">Logout</button>
  </div>
  <div class="whole-window-close" (click)="showSettings()" *ngIf="isOpen"></div>
</div>
