.container {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  overflow: auto;
  max-height: 50vh;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.body {
  padding: 10px 0;
  &__row {
    display: flex;
    margin: 10px 0;
    label {
      display: inline-block;
      min-width: 250px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  button {
    height: 30px;
    background-color: #dde4eb;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
