<div class="container">
  <div class="header">
    <h2>Add new table</h2>
  </div>

  <div class="body">
    <div class="body__row" *ngFor="let field of fields">
      <label>{{ field }}</label>
      <input [value]="rowDetails[field]" />
    </div>
    <!-- <input type="text" placeholder="Enter the title you want to add" />
    <input type="text" placeholder="Enter the collection name you want to add" /> -->
  </div>

  <div class="buttons">
    <button type="button" (click)="setOpen(false)">Close</button>
    <button type="submit">Submit</button>
  </div>
</div>
